# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Ignore IntelliJ project file
*.iml

# Ignore IntelliJ-only XML
.idea/*.xml
.idea/**/workspace.xml
